{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    About Gomark 1
  </h1>
  <p>
    Developed by GoMark Associates, WIT, Waterford.
  </p>
</section>