{{> menu id="dashboard"}}

<section class="ui segment">

  <h2 class="ui header">
    HTML Learning Resources
  </h2>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Sitepoint
      </td>
      <td>
        <a href="https://www.sitepoint.com/html-css/"> https://www.sitepoint.com/html-css/</a>
      </td>
    </tr>
    <tr>
      <td>
        Google HTML Style Guide
      </td>
      <td>
        <a href="https://google.github.io/styleguide/htmlcssguide.xml"> https://google.github.io/styleguide/htmlcssguide.xml</a>
      </td>
    </tr>
    <tr>
      <td>
        Front End Focus
      </td>
      <td>
        <a href="http://frontendfocus.co/issues"> http://frontendfocus.co/issues</a>
      </td>
    </tr>
    </tbody>
  </table>

</section>

<section class="ui segment">
  <h2 class="ui header">
    CSS Learning Resources
  </h2>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        W3C Learn CSS
      </td>
      <td>
        <a href="https://www.w3.org/Style/CSS/learning"> https://www.w3.org/Style/CSS/learning</a>
      </td>
    </tr>
    <tr>
      <td>
        Flexbox
      </td>
      <td>
        <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"> https://css-tricks.com/snippets/css/a-guide-to-flexbox/</a>
      </td>
    </tr>
    <tr>
      <td>
        Grid
      </td>
      <td>
        <a href="https://css-tricks.com/snippets/css/complete-guide-grid/"> https://css-tricks.com/snippets/css/complete-guide-grid/</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<section class="ui segment">
  <h2 class="ui header">
    Javascript Learning Resources
  </h2>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Eloquent Javascript
      </td>
      <td>
        <a href="http://eloquentjavascript.net/"> http://eloquentjavascript.net/</a>
      </td>
    </tr>
    <tr>
      <td>
        Free Code Camp
      </td>
      <td>
        <a href="https://www.freecodecamp.com/"> https://www.freecodecamp.com/</a>
      </td>
    </tr>
    <tr>
      <td>
        Javascript Weekly
      </td>
      <td>
        <a href="http://javascriptweekly.com/issues"> http://javascriptweekly.com/issues</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>

This is a very verbose approach. The next step we will revise it substantially.