{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Gomark 1
  </h1>
  <p>
    This app enable you to manage your bookmarks. You can organise them into categories and share them with your friends and colleagues.
  </p>
</section>